$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
$cart-bottom-menu-height: 80px;

$color-primary: #f86600;
$color-secondary: #232526;
$color-accent: #6b0000;
$color-background: #000000;
$color-font: #ffffff;
